@use "variables" as v;

.navbar {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	.lang-btn {
		border: none;
		border-radius: 50%;
		padding: 5px;
		background-color: v.$true-white;
		cursor: pointer;

		&.active {
			background-color: v.$red;
			color: white;
		}
	}
}
