.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.modal-content {
	background: rgba(255, 255, 255, 0.6);
	padding: 2rem;
	border-radius: 8px;
	max-width: 600px;
	width: 90%;
	position: relative;

	img {
		width: 100%;
		height: auto;
		margin-top: 1rem;
		border-radius: 8px;
	}
	h2 {
		text-align: center;
	}
	h2,
	p {
		font-family: "Faculty Glyphic", sans-serif;
		font-weight: 400;
		padding: 0;
	}
}

.close-btn {
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	font-size: 2rem;
	border: none;
	background: none;
	cursor: pointer;
	color: #333;
}
