.print-area {
	display: none;
}

@media print {
	.print-area {
		display: block;
		width: 100%;
		max-height: 100vh;
		overflow: hidden;
		position: absolute;
		top: -30;
		left: 0;
		padding: 2rem;
		box-sizing: border-box;
		background: white;
		transform-origin: top left;
	}

	body * {
		visibility: hidden;
	}

	.print-area,
	.print-area * {
		visibility: visible;
	}

	.print-logo {
		display: flex;
		justify-content: center;
		margin-bottom: -1rem;

		svg {
			width: 320px;
			height: auto;
		}
	}

	.print-gallery {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
	}

	.print-card {
		width: 15%;
		page-break-inside: avoid;
		list-style-type: none;
		line-height: 1rem;
		margin: 0;
		padding: 0;
		margin-bottom:-1rem;

		img {
			width: 100%;
			display: block;
			margin-bottom: 0.25rem;
		}

		h2 {
			font-size: 0.7rem;
			text-align: center;
			font-family: "Faculty Glyphic", sans-serif;
			font-weight: 400;
		}

		p {
			font-size: 0.55rem;
			line-height: .75rem;
			color: #333;
		}
	}
}
