// fonts

$inter :'Inter', sans-serif;
$instrument :'Instrument Sans', sans-serif;
$gloock: 'Gloock', serif;

// colors
$white: rgba(240,240,240,255);
$true-white: rgba(255,255,255,255);
$black: rgba(0,0,0,255);