// fonts

$inter: "Inter", sans-serif;
$instrument: "Instrument Sans", sans-serif;
$gloock: "Gloock", serif;

// colors
$white: rgba(240, 240, 240, 255);
$true-white: rgba(255, 255, 255, 255);
$black: rgba(0, 0, 0, 255);
$red: rgba(251, 87, 86, 255);
$brown: rgba(61, 29, 15, 100);
