@use "variables" as v;
@use "opening";
@use "cards";
@use "navbar";
@use "footer";
@use "socials";
@use "scrollbar";
@use "pralinesMenu";
@use "pralineModal";
@use "swiper";
@use "logo";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: v.$white;
	font-family: v.$inter;
	h1,
	h3,
	h4,
	p {
		padding: 1rem 0;
	}
	h1 {
		font-size: 2.9375rem;
		color: hsl(0 0% 0% / 0.1);
		background-clip: text;
		background-size: 0% 100%;
		background-repeat: no-repeat;
		background-image: linear-gradient(
			90deg,
			v.$black 0%,
			v.$black 40%,
			v.$white 100%
		);

		animation: scroll-reveal linear forwards;
		animation-timeline: view();
		animation-range: 15% 30%;
		@media screen and (min-width: 768px) {
			font-size: 6.6875rem;
		}
	}
	h3 {
		font-size: 1.6875rem;
		font-weight: 400;
	}
	p {
		font-family: v.$instrument;
		font-size: 0.8125rem;
		line-height: 23px;
		@media screen and (min-width: 1024px) {
			font-size: 1.125rem;
			line-height: 32px;
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: fit-content;
		padding: 0 20px;
		text-decoration: none;
		color: v.$black;
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 56px;
		background-color: v.$true-white;
		border-radius: 32px;
		margin-bottom: 20px;

		.icon {
			margin-left: 14px;
		}
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		overflow-x: clip;
		@media screen and (min-width: 2560px) {
			padding: 0 20%;
		}
	}
	.pralines-menu-btn {
		border-radius: 12px;
	}
	.pralines-menu-btn,
	.pralines-menu-btn button {
		background-color: v.$white;
		color: v.$brown;
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 2px;
		font-family: "Inter", sans-serif;
		margin: 0;
		padding: 0.325rem;
		text-transform: uppercase;
		background: linear-gradient(
			90deg,
			v.$white 0%,
			v.$true-white 50%,
			v.$white 100%
		);
		background-size: 200% 100%;
		background-repeat: no-repeat;
		animation: button-background 3s infinite;
		animation-delay: 2s;
		background-position: 200% 0;
	}
}

@keyframes scroll-reveal {
	to {
		background-size: 100% 100%;
	}
}

@keyframes button-background {
	0% {
		background-position: 200% 0;
	}
	30% {
		background-position: -200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
