@use "variables" as v;
@use "opening";
@use "cards";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	background-color: v.$white;
	font-family: v.$inter;
	overflow-x: hidden;
	h1,
	h3,
	h4,
	p {
		padding: 1rem 0;
	}
	h1 {
		font-size: 2.9375rem;
	}
	h3 {
		font-size: 1.6875rem;
	}
	p {
		font-family: v.$instrument;
		font-size: 0.8125rem;
		line-height: 23px;
	}
	.container {
		display: flex;
		flex-direction: column;
		// align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		padding: 1rem;
	}
}
